/**********************************
			Global Styles
***********************************/

body {
	background-color: lightseagreen;
	color: ghostwhite;
	box-sizing: border-box;
	margin: 0;
}


/**********************************
			Title Styles
***********************************/

header {
	text-align: center;
}


/**********************************
			SVG Styles
***********************************/

.content {
	text-align: center;
	margin: 2em;
	border: 1px solid ghostwhite;
}


/**********************************
			D3 Styles
***********************************/

.click-circle {
  fill: burlywood;
}

path {
	fill: none;
	stroke: steelblue;
	stroke-width: 3px;
}