/**********************************
			Global Styles
***********************************/

body {
	background-color: lightseagreen;
	color: ghostwhite;
	box-sizing: border-box;
	margin: 0;
}


/**********************************
			Title Styles
***********************************/

header {
	text-align: center;
}


/**********************************
			SVG Styles
***********************************/

.content {
	text-align: center;
	margin-top: 2em;
}


/**********************************
			D3 Styles
***********************************/

.axis path, .axis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;  /* Round any decimal pixels so it'll render nicely */
}